---
layout: page
description: "謝銳"
---

<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>&quot;About&quot;</title>
</head>
<body>
<h1 id='rui-xie'>Rui Xie  </h1>
<p><strong>Engineer, Photographer, Gamer</strong>  </p>
<p><a href='doc/xie_cv.pdf'>My CV</a> </p>
<p><a href='https://scholar.google.com/citations?user=kFFMzkQAAAAJ&amp;amp;amp;hl=en'>Google Scholar</a></p>
<p>I show interests in EDA (Electronic design automation), Neuromorphic Computing, VLSI Design and Computer Architecture.</p>
<p><img src="https://cdn.jsdelivr.net/gh/Mi5sssss/blog_image@main/RRAM-Simulation/xie2021.iplwdpc3fjk.jpg" alt="xie2021" style="zoom:10%;" /></p>
<hr />
<p><strong>Email:</strong></p>
<p><a href='mailto:xier2018@mail.sustech.edu.cn' target='_blank' class='url'>xier2018@mail.sustech.edu.cn</a>  </p>
<p><a href='mailto:xr@ieee.org' target='_blank' class='url'>xr@ieee.org</a></p>
<p>Southern University of Science and Technology  </p>
<hr />
<h1 id='research-interest'>Research Interest</h1>
<h2 id='eda-circuit-simulation'>EDA Circuit Simulation</h2>
<p><strong>Steady-State Memristor Crossbar Array (MCA) Circuit Simulation:</strong></p>
<ol start='' >
<li>Exploited the structural regularity of MCAs to develop a specially-crafted preconditioner;</li>
<li>Designed the process of inverse and application to vectors that can be effciently evaluated by Kronecker product and
block matrix inversion formula;</li>
<li>Experimentalized the numerical test of the specific band matrices;</li>
<li>Obtain a Fund of 10,000 CHY and won the third prize of 2021 School of Microelectronics Innovation Competition.</li>

</ol>
<p><strong>Surrogate Modeling of Electro-Thermal Simulation:</strong></p>
<ol start='' >
<li>Used Ansys Icepak to modeling and simulate the process of SiC sandwich devices;</li>
<li>Designed the surrogate nueral network model through Python programming.</li>

</ol>
<p><strong>RRAM (Resistive RAM) Non-Ideal Simulation:</strong></p>
<ol start='' >
<li>Design the multiply-add method of specific RRAM through open source RRAM simulation tool CROSSSIM from Sandia National Lab;</li>
<li>Develop the reading and writing control of simulation by amended model of Gaussian White Noise model.</li>

</ol>
<hr />
<h1 id='projects'>Projects</h1>
<ul>
<li>An optimization algorithm for demosaicing using DE-1 FPGA and camera with LCD screen display</li>
<li>SOBEL operator edge detection on FPGA based on ARM architecture</li>
<li>TPU development based on RISC-V and Chisel based on Scala</li>
<li>Campus Bus Travel Time Prediction Based on LSTM and Big Data Techniques</li>
<li>A design of 4 x 4 Bits array multiplier based on virtuoso</li>
<li>Neural architectural search for RRAM-based AI accelerator</li>
<li>An innovative single-threaded automatic target detection system based on Raspberry Pi</li>

</ul>
<h1 id='publications'>Publications</h1>
<ol start='' >
<li><strong><u>Rui Xie</u></strong>, Mingyang Song, Junzhuo Zhou, Jie Mei, Quan Chen(Corresponding Author), <em>A Fast Method for Steady-State Memristor Crossbar Array Circuit Simulation</em>, IEEE ICTA 2021</li>

</ol>
<h1 id='patents'>Patents</h1>
<ol start='' >
<li>Quan Chen, Dayi Fan, <strong><u>Rui Xie</u></strong>, Mingyang Song, Construction and optimization of neural networks for memristor arrays based on circuit simulation (Pending), CN 202110673101.5</li>

</ol>
<h1 id='technical-skills-language-skills-interests'>Technical Skills, Language Skills, Interests</h1>
<p><strong>Programming Languages</strong></p>
<p>Python, MATLAB, C, Java, Verilog HDL, Scala, Chisel</p>
<p><strong>Software</strong></p>
<p>Virtuoso, Quartus, ModelSim, Icepack, Silvaco, LTSPICE, Comsol, SolidWorks, AutoCAD</p>
<p><strong>Languages</strong></p>
<p>English, Mandarin, Cantonese</p>
</body>
</html>

<!--
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}
-->

<!-- Pager -->
<!--
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
-->


