---
layout: page
description: "謝銳"
---

<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title></title>
</head>
<body><h1 id='rui-xie'>Rui Xie  </h1>
<p>I am currently a senior student from <a href='https://sme.sustech.edu.cn/en/'><u>School of Microelectronics</u></a> in <a href='https://www.sustech.edu.cn/en/'><u>Southern University of Science and Technology</u></a>, expected obtain the baccalaureate in June 2022. I show great interests in EDA (Electronic design automation), Neuromorphic Computing, VLSI Design and Computer Architecture. My undergraduate supervisor is <a href='https://faculty.sustech.edu.cn/chenq3/en/'><u>Dr. Quan Chen</u></a>.</p>
<!-- <p>I will start my PhD journey in  <a href='https://www.hku.hk/'><u>the University of Hong Kong</u></a> under the supervision of <a href='https://www.eee.hku.hk/~nwong/'><u>Prof. Ngai Wong</u></a> in 2022 Fall.</p>-->

<p>Here is <u><a href='doc/xie_cv.pdf'>My CV</a></u> by November 2021 and <u><a href='https://scholar.google.com/citations?user=kFFMzkQAAAAJ&amp;amp;amp;hl=en'>Google Scholar</a></u>.</p>
<p><img src="https://cdn.jsdelivr.net/gh/Mi5sssss/blog_image@main/RRAM-Simulation/xie2021.iplwdpc3fjk.jpg" alt="xie2021" style="zoom:10%;" /></p>
<p>(Taken in 2020)</p>
<hr />
<p><strong>Contact</strong></p>
<p><a href='mailto:xier2018@mail.sustech.edu.cn' target='_blank' class='url'>xier2018@mail.sustech.edu.cn</a>  </p>
<p><a href='mailto:xr@ieee.org' target='_blank' class='url'>xr@ieee.org</a></p>
<hr />
<p><strong>Research Interest</strong></p>
<ul>
<li>EDA Circuit Simulation</li>
<li>Neuromorphic Computing</li>
<li>Computer Architecture</li>
<li>VLSI Design</li>

</ul>
<hr />
<p><strong>News</strong></p>
<ul>
<li>11/2021 A Talk in IEEE ICTA 2021 (Zhuhai) (Online).</li>
<li>11/2021 Currently do Neural Architecture Search research with <a href='https://www.eee.hku.hk/~nwong/'><u>Dr. Ngai Wong</u></a>  of HKU.</li>
<li>09/2021 A paper was accepted by <a href='http://www.ieee-icta.net/'><u>IEEE ICTA 2021</u></a>.</li>
<li>06/2021 Submitted a patent.</li>

</ul>
<hr />
<p><strong>My current work</strong></p>
<p>The acceleration of large Memristor Crossbar Arrays (MCAs) is important for the SPICE of crossbar structure. We have built a preconditioner for the existing architecture through Modified Nodal Analysis Equations.</p>
<p><img src="https://cdn.jsdelivr.net/gh/Mi5sssss/blog_image@main/RRAM-Simulation/xie_intro_2021_Page_09.2d0dj2bb0dog.jpg" referrerpolicy="no-referrer" alt="xie_intro_2021_Page_09"></p>
<p>&nbsp;</p>
<p>Also we have built a simulator including Noise (Pink, RTN) and nonlinearity of memristor for basic train networks.</p>
<p>Here is MNIST as input.</p>
<p><img src="https://cdn.jsdelivr.net/gh/Mi5sssss/blog_image@main/RRAM-Simulation/xie_intro_2021_Page_16.7ihbgnqlnfs0.jpg" referrerpolicy="no-referrer" alt="xie_intro_2021_Page_16"></p>
<p>We want to make Look up tables for the real memristor which would help to facilitate our simulator.</p>
<p><img src="https://cdn.jsdelivr.net/gh/Mi5sssss/blog_image@main/RRAM-Simulation/xie_intro_2021_Page_17.3ulognnu4o00.jpg" referrerpolicy="no-referrer" alt="xie_intro_2021_Page_17"></p>
<p>My ultimate goal and current plan.</p>
<p><img src="https://cdn.jsdelivr.net/gh/Mi5sssss/blog_image@main/RRAM-Simulation/xie_intro_2021_Page_23.6eebtn5qis00.jpg" referrerpolicy="no-referrer" alt="xie_intro_2021_Page_23"></p>
</body>



<div align=center>You are the No. <a href='https://www.counter12.com'><img src='https://www.counter12.com/img-Ay4w35cD6aCbb3Z4-22.gif' border='0' alt='free counter'></a> vistor of my homepage.<script type='text/javascript' src='https://www.counter12.com/ad.js?id=Ay4w35cD6aCbb3Z4'></script></div>
<!--
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}
-->

<!-- Pager -->
<!--
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
-->


